<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Recipe - Home</title>
    <link rel="stylesheet" href="{% static "home/index.css" %}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Easy Recipe</h1>
            <h2>Effortless recipe management at your fingertips.</h2>
        </div>
    </header>
    <main>
        <section id="action-section">
            <h1>What would you like to do?</h1>
            <div class="app-links">
                <a href="{% url 'ingredients:index' %}" class="button">Manage Ingredients</a>
                <a href="{% url 'recipes:index' %}" class="button">Manage Recipes</a>
            </div>
        </section>
    </main>
</body>
</html>
