<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add new ingredient</title>
    </head>
    <body>
        <header>
            <h1>Add a new ingredient to your inventory...</h1>
        </header>
        <main>
            <form action="{% url "ingredients:add_ingredient" %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add ingredient">
            </form>
        </main>
    </body>
</html>