<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'ingredients/styles.css' %}">
        <link rel="stylesheet" href="{% static 'ingredients/add-ingredient.css' %}">
        <title>Add new ingredient</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Add a new ingredient to your inventory</h1>
            </div>
        </header>
        <main class="container">
            <form action="{% url "ingredients:add_ingredient" %}" method="POST">
                {% csrf_token %}
                {{ form }}

                <div class="action-buttons">
                    <input type="submit" class="button" value="Save">
                    <a class="cancel-button" href="{% url "ingredients:index" %}">Cancel</a>
                </div>
            </form>
        </main>
    </body>
</html>