<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add new ingredient</title>
    </head>
    <body>
        <header>
            <h1>Edit ingredient</h1>
        </header>
        <main>
            <form action={% url "ingredients:edit_ingredient" ingredient.ean %} method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save changes">
                <a href="{% url "ingredients:index" %}">Cancel</a>
            </form>
        </main>
    </body>
</html>