<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <h6>
                <a href="{% url "ingredients:index" %}">See all ingredients</a>
            </h6>
        </header>
        <main>
            <h1>{{ingredient.name}}</h1>
            <h2>EAN: {{ingredient.ean}}</h2>
            <p>Price: {{ingredient.cost_per_unit}} ({{ingredient.standard_amount}} {{ingredient.standard_unit}}{{ingredient.standard_amount|pluralize}})</p>
        </main>
    </body>
</html>