<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'recipes/styles.css' %}">
        <link rel="stylesheet" href="{% static 'recipes/add-recipe.css' %}">
        <title>Easy Recipe - Add new recipe</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Add a new recipe</h1>
            </div>
        </header>
        <main>
            <form action="{% url "recipes:add_recipe" %}" method="POST">
                {% csrf_token %}
             
                <div class="recipe-name-input-container">
                    <label for="name">Recipe name</label>
                    <input type="text" name="name" id="name" value={{ name|default:""|safe }}>
                    {% if errors.name %}
                    <span class="error">{{errors.name.0}}</span>
                    {% endif %}
                </div>

                <section class="ingredients">
                    {% if errors.ingredients %}
                        <span class="error">{{errors.ingredients.0}}</span>
                    {% endif %}

                    {% if ingredients %}
                        {% for ingredient in ingredients %}
                            <fieldset class="recipe-ingredient">
                                <label for="ingredient">Ingredient</label>
                                <select name="ingredients[{{forloop.counter0}}][ean]">
                                    {% for ingredient_from_db in ingredient_list %}
                                        <option value="{{ingredient_from_db.ean}}" {% if ingredient_from_db.ean == ingredient.ean %} selected {% endif %}>
                                            {{ingredient_from_db.name}} ({{ingredient_from_db.standard_unit}})
                                        </option>
                                    {% endfor %}
                                </select>
                                <label for="amount">Amount</label>
                                <input type="number" name="ingredients[{{forloop.counter0}}][amount]" id="amount" min="0" step="0.1" value="{{ingredient.amount}}">
                                <button type="button" class="remove-ingredient-btn">Remove</button>
                            </fieldset>    
                        {% endfor %}
                    {% endif %}
                </section>
                
                <button class="button add-ingredient-button" type="button" onclick="createRecipeIngredient()">Add ingredient</button>
                
                <div class="action-buttons">
                    <input class="button" type="submit" value="Save Recipe">
                    <a class="cancel-button" href="{% url "recipes:index" %}">Cancel</a>
                </div>
                
            </form>
        </main>
        {{ingredient_list|json_script:"ingredient_list"}}
        <script src="{% static "recipes/add_ingredient.js" %}"></script>
    </body>
</html>