<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "recipes/add_ingredient_form.css" %}">
        <title>Add new recipe</title>
    </head>
    <body>
        <header>
            <h1>Add a new recipe...</h1>
        </header>
        <main>
            <form action="{% url "recipes:edit_recipe" recipe.id %}" method="POST">
                {% csrf_token %}

                <label for="name">Recipe name</label>
                <input type="text" name="name" id="name" value="{{ name|default:"" }}">
                {% if errors.name %}
                    <span class="error">{{errors.name.0}}</span>
                {% endif %}

                <section class="ingredients">
                    <h2>Ingredients</h2>
                    {% if errors.ingredients %}
                        <span class="error">{{errors.ingredients.0}}</span>
                    {% endif %}

                    {% if ingredients %}
                        {% for ingredient in ingredients %}
                            <fieldset class="recipe-ingredient">
                                <label for="ingredient">Ingredient</label>
                                <select name="ingredients[{{forloop.counter0}}][ean]">
                                    {% for ingredient_from_db in ingredient_list %}
                                        <option value="{{ingredient_from_db.ean}}" {% if ingredient_from_db.ean == ingredient.ean %} selected {% endif %}>
                                            {{ingredient_from_db.name}} ({{ingredient_from_db.standard_unit}})
                                        </option>
                                    {% endfor %}
                                </select>
                                <label for="amount">Amount</label>
                                <input type="number" name="ingredients[{{forloop.counter0}}][amount]" id="amount" min="0" step="0.1" value="{{ingredient.amount}}">
                                <button type="button" class="remove-ingredient-btn">Remove</button>
                            </fieldset>    
                        {% endfor %}
                    {% endif %}
                </section>
                
                <button type="button" onclick="createRecipeIngredient()">Add ingredient</button>
                <input type="submit" value="Save Recipe">
                <a href="{% url "recipes:details" recipe.id%}">Cancel</a>
            </form>
        </main>
        {{ingredient_list|json_script:"ingredient_list"}}
        <script src="{% static "recipes/add_ingredient.js" %}"></script>
    </body>
</html>