<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'recipes/styles.css' %}">
        <link rel="stylesheet" href="{% static 'recipes/index.css' %}">
        <title>Recipes</title>
    </head>
    <body>
        <header>
            <h1>Managing recipes is simple and easy...</h1>
        </header>
        <main>
            {% if recipe_list %}
            <ul class="recipe-list">
                {% for recipe in  recipe_list %}
                <li class="recipe-details">
                    <div class="recipe-details">
                        <h2>{{ recipe.name }}</h2>
                        <p>Number of ingredients: {{recipe.ingredients.count}}</p>
                        <strong>Total cost: {{recipe.get_total_cost}}</strong>
                        <a href="{% url "recipes:details" recipe.id%}">See details</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p class="no-recipes-message">No recipes found.</p>
            {% endif %}
            
            <nav>
                <a class="button" href="{% url "recipes:add_recipe" %}">Add new recipe</a>
                <a class="button cancel-button" href="{% url "home:index" %}">Home</a>
            </nav>
        </main>
    </body>
</html>